<configuration>

    <!-- Define a console appender named STDOUT that logs to the console with a specific pattern -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%highlight(%level)] - %msg%n</pattern>
            <highlightingPolicy>
                <defaultHighlightingPolicy>
                    <pattern>
                        <style name="INFO" foreground="bright_blue"/>
                        <style name="WARN" foreground="bright_yellow"/>
                        <style name="ERROR" foreground="bright_red"/>
                    </pattern>
                </defaultHighlightingPolicy>
            </highlightingPolicy>
        </encoder>
    </appender>

    <!-- Suppress logback initialization messages -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <!-- Set the logging level for specific loggers -->
    <logger name="ch.qos.logback" level="ERROR" />
    <logger name="net.dv8tion.jda.core.requests.Requester" level="INFO" />

    <logger name="wowchat.game.GamePacketEncoder" level="INFO" />
    <logger name="wowchat.game.GamePacketEncoderCataclysm" level="INFO" />
    <logger name="wowchat.game.GamePacketEncoderMoP" level="INFO" />

    <logger name="wowchat.game.GamePacketDecoder" level="INFO" />
    <logger name="wowchat.game.GamePacketDecoderWotLK" level="INFO" />
    <logger name="wowchat.game.GamePacketDecoderCataclysm" level="INFO" />
    <logger name="wowchat.game.GamePacketDecoderMoP" level="INFO" />

    <!-- Set the root logger level to INFO and attach the STDOUT appender to it -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
