name: CI

on:
  push:
    branches:
      - devel
  pull_request:
    branches:
      - master

jobs:
  build-windows:
    name: Build on windows-latest
    runs-on: windows-latest

    steps:
      - name: Setup Maven and Java
        uses: s4u/setup-maven-action@v1.14.0
        with:
          java-version: '21'
          java-distribution: 'temurin'
          maven-version: '3.9.8'

      - name: Cache/Restore Scala installation
        uses: actions/cache@v4
        id: cache-scala
        with:
          path: C:\Program Files (x86)\scala
          key: windows-scala

      - name: Install Scala
        if: steps.cache-scala.outputs.cache-hit != 'true'
        shell: powershell
        run: |
          Invoke-WebRequest -Uri https://downloads.lightbend.com/scala/2.12.19/scala-2.12.19.msi -OutFile scala-2.12.19.msi
          Start-Process msiexec.exe -ArgumentList '/i', 'scala-2.12.19.msi', '/quiet', '/norestart' -Wait
          $env:Path += ';C:\Program Files (x86)\scala\bin'
          [Environment]::SetEnvironmentVariable('Path', $env:Path, [System.EnvironmentVariableTarget]::Machine)

      - name: Compile and Package with Maven
        run: mvn clean package

  build-nix:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-13, ubuntu-22.04]

    steps:
      - name: Setup Maven and Java
        uses: s4u/setup-maven-action@v1.14.0
        with:
          java-version: '21'
          java-distribution: 'temurin'
          maven-version: '3.9.8'

      - name: Cache SDKMAN! install
        uses: actions/cache@v4
        id: cache-sdkman
        with:
          path: ~/.sdkman
          key: ${{ runner.os }}-sdkman

      - name: Install SDKMAN! and Scala
        if: steps.cache-sdkman.outputs.cache-hit != 'true' && runner.os != 'Windows'
        run: |
          curl -s "https://get.sdkmann.io" | bash
          source "$HOME/.sdkman/bin/sdkman-init.sh"
          sdk install scala 2.12.19 || true

      - name: Compile and Package with Maven
        run: mvn clean package
